html,
body {
    overflow-x: hidden;
}


@font-face {
    src: url('../fonts/BebasNeue-Regular.ttf');
    font-family: bebas;
}

@font-face {
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
    font-family: alfaslab;
}

@font-face {
    src: url('../fonts/Montserrat-Regular.ttf');
    font-family: montserrat;
}


/* start Framework */

.custom-color {
    color: #3d2514;
}

.title-font {
    font-family: bebas;
    letter-spacing: 2px;
}

.heading-font {
    font-family: alfaslab;
    font-size: 5rem;
    text-shadow: 2px 3px 1px white;
}

.heading-font-2 {
    font-family: alfaslab;
    font-size: 2rem;
    text-shadow: 0px 3px 2px white;

}

.dashed-border {
    border: 2px dashed #3d2514;
}

/* End Framework */


/* Start Upper-bar */
.upper-bar {
    position: absolute;
    color: #3d2514;
    top: 3%;
    right: 6%;
}

/* End Upper-bar */

/* Start Navbar */
.navbar {
    padding-top: 65px;
    padding-right: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 100;
}


.navbar-toggler-icon {
    background-image: url('../imgs/hamburger-toggler.png');
}

.navbar-brand .logo {
    height: 50px;
    padding-left: 30px;

}

nav.bg {
    background: #FFF;
    height: 80px;
    padding: 5px 10px;
    box-shadow: 0px 1px 10px #3d2514;
}


.nav-item {
    padding-right: 36px;
}

.nav-link {
    font-family: bebas;
    font-size: 18px;
    font-weight: bold;
    color: #3d2514;
    letter-spacing: 3px;
}

.nav-link:hover {
    color: #3d251462;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-brand .logo {
        height: 40px;
    }

    .navbar-nav {
        background-color: #fff;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        text-align: center;
    }


}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar {
        padding-right: 0;
        left: 0;
    }

    .navbar-nav {
        background-color: transparent !important;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px)  {
    .navbar-brand .logo {
        height: 40px;
    }

    .navbar-nav {
        background-color: #fff;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        text-align: center;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .nav-item {
        padding-right: 35px;
    }

    .navbar-nav {
        background-color: transparent !important;
    }

}

/* End Navbar */

/* Start Header */
header {
    background: url('../imgs/header-bg.png') no-repeat center/cover;
    height: 100vh;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    body {
        overflow-x: hidden;
    }

    .bg-wrapper {
        background: #bf2222;
        position: absolute;
        border-radius: 50%;
        padding: 6px;
        top: 55%;
        left: 140px;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .price-circle {
        border: 2px dashed #fff;
        border-radius: 50%;
        padding: 15px;
    }

    .wrap {
        padding-top: 170px;
    }

    .heading-font {
        font-size: 3rem;
    }

    .title-font {
        font-size: 60%;
    }

    .price-img {
        width: 30px;
        height: auto;
    }

    .header-img {
        width: 400px;
        height: auto;
        margin-top: -170px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .bg-wrapper {
        background: #bf2222;
        position: absolute;
        border-radius: 50%;
        padding: 6px;
        top: 55%;
        left: 140px;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .price-circle {
        border: 2px dashed #fff;
        border-radius: 50%;
        padding: 15px;
    }

    .wrap {
        padding-top: 170px;
    }

    .price-img {
        width: 30px;
        height: auto;
    }

    .header-img {
        width: 460px;
        height: auto;
        margin-top: -200px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .bg-wrapper {
        background: #bf2222;
        position: absolute;
        border-radius: 50%;
        padding: 6px;
        top: 72%;
        left: 88px;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .price-circle {
        border: 2px dashed #fff;
        border-radius: 50%;
        padding: 15px;
    }

    .wrap {
        padding-top: 45px;
    }

    .price-img {
        width: 30px;
        height: auto;
    }

    .header-img {
        width: 550px;
        height: auto;
        padding-right: 0;
        margin-left: -75px;
        padding-top: 0;
    }

    .heading-font {
        font-size: 4rem;
    }

    .title-font {
        letter-spacing: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .bg-wrapper {
        background: #bf2222;
        position: absolute;
        border-radius: 50%;
        padding: 6px;
        top: 68%;
        left: 140px;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .price-circle {
        border: 2px dashed #fff;
        border-radius: 50%;
        padding: 15px;
    }

    .wrap {
        padding-top: 0px;
    }

    .price-img {
        width: 30px;
        height: auto;
    }

    .header-img {
        width: 700px;
        height: auto;
        margin-top: -75px;
        margin-left: -80px;
    }

    .heading-font {
        font-size: 5rem;
    }

    .title-font {
        letter-spacing: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .bg-wrapper {
        background: #bf2222;
        position: absolute;
        border-radius: 50%;
        padding: 6px;
        top: 67%;
        left: 195px;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .price-circle {
        border: 2px dashed #fff;
        border-radius: 50%;
        padding: 20px;
    }

    .wrap {
        padding-top: 0px;
    }

    .price-img {
        width: 35px;
        height: auto;
    }

    .header-img {
        width: 120%;
        height: auto;
        margin-top: -85px;
        margin-left: -42px;
    }

    .heading-font {
        font-size: 5.5rem;
    }

    .title-font {
        letter-spacing: 2px;
    }
}

/* End Header */

/* Start offer section */
.offer-img-1,
.offer-img-2 {
    padding-top: 50px;
    padding-bottom: 30px;
}

.text-overlay {
    background-image: url('../imgs/offer-img-1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 380px;
    margin-top: 50px;
}

.text-overlay-1 p {
    position: absolute;
    top: 50px;
    color: #fff;
    padding: 10px;
}

.text-overlay-1 h2 {
    position: absolute;
    top: 75px;
    left: 5px;
    color: #fff;
    padding: 10px;
}

.text-overlay-2 p {
    position: absolute;
    top: 10px;
    color: #fff;
    padding: 10px;
}

.text-overlay-2 h2 {
    position: absolute;
    top: 30px;
    left: 5px;
    color: #fff;
    padding: 10px;
}

.fancy-button {
    width: 218px;
    color: #3d2514;
    text-align: center;
    background-color: #ffc045;
    border: 1px solid transparent;
    padding: 10px 15px;
    margin: 50px auto;
    text-decoration: none;
    display: block;
    outline: none;
    line-height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;

}

.fancy-button:hover {
    background: #3d2514;
    color: #ffc045;
    text-decoration: none;
    -webkit-box-shadow: 0 .1em 1em;
    -moz-box-shadow: 0 .1em 1em;
    -o-box-shadow: 0 .1em 1em;
    box-shadow: 0 .1em 1em;

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .text-overlay {
        height: 40vh;
    }

    .offer-img-1,
    .offer-img-2 {
        padding-bottom: 22px;
    }
}

/* End offer section */

/* Start Menu Section */
.menu h1 {
    font-size: 50px;
    line-height: 38px;
    color: #3d2514;
    font-weight: 400;
    font-family: alfaslab;
    text-align: center;
    text-transform: uppercase;
}

.menu .title {
    width: 100%;
    font-size: 17px;
    line-height: 29px;
    color: #3d2514;
    font-weight: 400;
    font-family: montserrat;
    text-align: center;
    padding: 0 100px;
    margin-top: 1rem;
}

.card-title {
    font-size: 38px;
    line-height: 38px;
    color: #3d2514;
    font-family: bebas;
}

.card-text {
    width: 367px;
    height: 51px;
    font-size: 17px;
    line-height: 21px;
    color: #3d2514;
    font-weight: 400;
    font-family: montserrat;
    text-align: center;
    margin: 0 -58px;
}

.card-body .btn {
    width: 195px;
    background-color: #bf2222;
    margin: 0 auto;
    display: block;
    outline: none;
    border: 0;
    border-radius: 0;
    font-size: 17px;
    line-height: 38px;
    color: #ffffff;
    font-family: alfaslab;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
}

.card-body .btn:hover {
    background-color: #ffffff;
    color: #bf2222;
    -webkit-box-shadow: 0 .1em 1em;
    -moz-box-shadow: 0 .1em 1em;
    -o-box-shadow: 0 .1em 1em;
    box-shadow: 0 .1em 1em;

}

.card-body .btn:focus {
    background-color: #bf2222;
    color: #ffffff;
    outline: none;
    border: 0;
    box-shadow: 0;
}


.custom-shadow {
    width: 450px;
    display: block;
    margin: 0 -60px;
    height: auto;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .menu h1 {
        font-size: 35px;
        line-height: 38px;
        color: #3d2514;
        font-weight: 400;
        font-family: alfaslab;
        text-align: center;
        text-transform: uppercase;
    }

    .menu .title {
        width: 100%;
        font-size: 16px;
        line-height: 25px;
        color: #3d2514;
        font-weight: 400;
        font-family: montserrat;
        text-align: center;
        padding: 0 5px;
        margin-top: 1rem;
    }

    .card-title {
        font-size: 38px;
        line-height: 38px;
        color: #3d2514;
        font-family: bebas;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .menu h1 {
        font-size: 50px;
        line-height: 38px;
        color: #3d2514;
        font-weight: 400;
        font-family: alfaslab;
        text-align: center;
        text-transform: uppercase;
    }

    .menu .title {
        width: 100%;
        font-size: 17px;
        line-height: 29px;
        color: #3d2514;
        font-weight: 400;
        font-family: montserrat;
        text-align: center;
        padding: 0 5px;
        margin-top: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .menu h1 {
        font-size: 50px;
        line-height: 38px;
        color: #3d2514;
        font-weight: 400;
        font-family: alfaslab;
        text-align: center;
        text-transform: uppercase;
    }

    .menu .title {
        width: 95%;
        font-size: 17px;
        line-height: 29px;
        color: #3d2514;
        font-weight: 400;
        font-family: montserrat;
        text-align: center;
        margin-top: 1rem;
    }

    .card-img-top {
        width: 80%;
    }

    .custom-shadow {
        width: 100%;
        display: block;
        height: auto;
    }

    .card-text {
        width: 85%;
        height: 65px;
        font-size: 14px;
        line-height: 21px;
        color: #3d2514;
        font-weight: 400;
        font-family: montserrat;
        text-align: center;
        padding: 0 0;
    }

    .card-title {
        font-size: 35px;
        line-height: 38px;
        color: #3d2514;
        font-family: bebas;
    }

    .card-text {
        height: 51px;
        font-size: 12px;
        line-height: 21px;
        color: #3d2514;
        font-weight: 400;
        font-family: montserrat;
        text-align: center;
    }

    .custom-shadow {
        width: 100%;
        display: block;
        height: auto;
        margin: 5px -12px;

    }

    .shadow-card-2 {
        margin: 0 -25px;

    }

    .card-body .btn {
        width: 70%;
        background-color: #bf2222;
        margin: 0 25px;
        display: block;
        outline: none;
        border: 0;
        border-radius: 0;
        font-size: 17px;
        line-height: 38px;
        color: #ffffff;
        font-family: alfaslab;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 20px;
    }



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .menu h1 {
        font-size: 50px;
        line-height: 38px;
        color: #3d2514;
        font-weight: 400;
        font-family: alfaslab;
        text-align: center;
        text-transform: uppercase;
    }

    .menu .title {
        width: 100%;
        font-size: 17px;
        line-height: 29px;
        color: #3d2514;
        font-weight: 400;
        font-family: montserrat;
        text-align: center;
        padding: 0 100px;
        margin-top: 1rem;
    }

    .card-title {
        font-size: 38px;
        line-height: 38px;
        color: #3d2514;
        font-family: bebas;
    }

    .card-text {
        width: 367px;
        height: 51px;
        font-size: 17px;
        line-height: 21px;
        color: #3d2514;
        font-weight: 400;
        font-family: montserrat;
        text-align: center;
        margin: 0 -58px;
    }

    .card-body .btn {
        width: 195px;
        background-color: #bf2222;
        margin: 0 auto;
        display: block;
        outline: none;
        border: 0;
        border-radius: 0;
        font-size: 17px;
        line-height: 38px;
        color: #ffffff;
        font-family: alfaslab;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 20px;
    }

    .custom-shadow {
        width: 450px;
        display: block;
        margin: 0 -60px;
        height: auto;
    }


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .menu h1 {
        font-size: 50px;
        line-height: 38px;
        color: #3d2514;
        font-weight: 400;
        font-family: alfaslab;
        text-align: center;
        text-transform: uppercase;
    }

    .menu .title {
        width: 100%;
        font-size: 17px;
        line-height: 29px;
        color: #3d2514;
        font-weight: 400;
        font-family: montserrat;
        text-align: center;
        padding: 0 100px;
        margin-top: 1rem;
    }

    .card-title {
        font-size: 38px;
        line-height: 38px;
        color: #3d2514;
        font-family: bebas;
    }

    .card-text {
        width: 367px;
        height: 51px;
        font-size: 17px;
        line-height: 21px;
        color: #3d2514;
        font-weight: 400;
        font-family: montserrat;
        text-align: center;
        margin: 0 -58px;
    }

    .card-body .btn {
        width: 195px;
        background-color: #bf2222;
        margin: 0 auto;
        display: block;
        outline: none;
        border: 0;
        border-radius: 0;
        font-size: 17px;
        line-height: 38px;
        color: #ffffff;
        font-family: alfaslab;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 20px;
    }

    .custom-shadow {
        width: 450px;
        display: block;
        margin: 0 -60px;
        height: auto;
    }
}

/* End Menu Section */

/* Start Slider Section */


.owl-carousel {
    filter: drop-shadow(18.656px 24.758px 21.5px rgba(0, 0, 0, 0.17));
    background-color: #ffffff;
    margin-top: 150px;
}

.owl-carousel span {
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 70px;
    color: #3d3d3d;
    font-family: "bebas";
}

.owl-carousel h2 {
    font-size: 42px;
    line-height: 0px;
    color: #3d2514;
    font-weight: 400;
    font-family: alfaslab;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.owl-carousel p {
    width: 531px;
    height: 173px;
    font-size: 20px;
    line-height: 30px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: montserrat;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -36px;
    position: absolute;
    bottom: 30px;
    left: 18px;
}

.owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 5px;
}


.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffc045;

}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .owl-carousel h2 {
        font-size: 25px;
    }

    .owl-carousel p {
        font-size: 12px;
        line-height: 20px;
        color: #3d3d3d;
        font-weight: 400;
        font-family: montserrat;
        width: 100%;
        height: auto;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        position: absolute;
        bottom: -5px;
        left: 18px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .owl-carousel h2 {
        font-size: 35px;
    }

    .owl-carousel p {
        width: 100%;
        height: 150px;
        font-size: 17px;
        line-height: 30px;
        color: #3d3d3d;
        font-weight: 400;
        font-family: montserrat;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        position: absolute;
        bottom: 5px;
        left: 18px;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .owl-carousel h2 {
        font-size: 25px;
    }

    .owl-carousel p {
        width: 100%;
        height: 120px;
        font-size: 11px;
        line-height: 20px;
        color: #3d3d3d;
        font-weight: 400;
        font-family: montserrat;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        position: absolute;
        bottom: 25px;
        left: 18px;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        padding-top: 25px;
    }


}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .owl-carousel h2 {
        font-size: 35px;
    }

    .owl-carousel p {
        width: 100%;
        height: 120px;
        font-size: 16px;
        line-height: 30px;
        color: #3d3d3d;
        font-weight: 400;
        font-family: montserrat;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        position: absolute;
        bottom: 35px;
        left: 18px;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        padding-top: 25px;
    }


}

/* End Slider Section */

.booking {
    position: relative;
}

.booking .burger {
    position: absolute;
    top: 0;
    left: -85px;
}

.booking .plate {
    position: absolute;
    right: 0;
    top: 55%;
    right: -20%;
}

.booking p {
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 46px;
    color: #3d2514;
    font-family: bebas;
    text-align: center;
    padding-top: 100px;
}

.booking h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 46px;
    color: #3d2514;
    font-weight: 400;
    font-family: alfaslab;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.form-control {
    width: 340px;
    height: 55px;
    border-radius: 5px;
    background-color: rgba(235, 174, 76, 0);
    border: 1px solid #bebebe;

}

form {
    padding-top: 70px;
}

label {
    position: absolute;
    top: 0;
    font-size: 23px;
    margin: 10px;
    padding: 0 10px;
    -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
    transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
    font-family: bebas;
    background-color: #fff;
    color: #3d3d3d;

}

input {
    width: 100%;
    padding: 20px;
    border: 1px solid #bebebe;
    font-size: 20px;
    color: white;
    color: #3d3d3d;
    border-radius: 5px;
    background-color: #fff;

}

.booking-btn {
    width: 100%;
    background-color: #bf2222;
    display: block;
    padding: 7px 0;
    outline: none;
    border-radius: 0;
    font-size: 17px;
    line-height: 38px;
    color: #ffffff;
    font-family: alfaslab;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
}

.booking-btn:hover {
    background-color: #fff;
    color: #bf2222;
    -webkit-box-shadow: 0 .1em 1em;
    -moz-box-shadow: 0 .1em 1em;
    -o-box-shadow: 0 .1em 1em;
    box-shadow: 0 .1em 1em;
}

.booking-btn:focus {
    background-color: #bf2222;
    color: #ffffff;
    outline: none;
    border: 0;
    box-shadow: 0;
}

.booking .active {
    top: -25px;
    font-size: 20px;
}


.booking .form-control:focus {
    border: 1px solid #bebebe;
    outline: 0;
    box-shadow: none;
}

.booking .bottle {
    position: absolute;
    top: 45%;
    left: 5%;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .booking form {
        padding-top: 50px;
    }

    .booking p {
        line-height: 2px;
        padding-top: 25%;
        padding-left: 160px;
    }

    .booking h1 {
        font-size: 13px;
        padding-left: 180px;
    }

    .booking label {
        top: 10px;
        left: 33px;

    }

    .booking .bottle {
        top: 100%;
        left: 0;
    }

    .booking .plate {
        top: 100%;
    }

    .booking .form-control {
        margin: 10px auto;
    }

    .booking .active {
        top: -15px;
        font-size: 20px;
    }

}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .booking form {
        padding-top: 0px;
    }

    .booking p {
        line-height: 2px;
        padding-top: 25%;
        padding-left: 160px;
    }

    .booking h1 {
        font-size: 30px;
        padding-left: 180px;
    }

    .booking label {
        top: 10px;
        left: 110px;
    }

    .booking .bottle {
        top: 100%;
        left: 30%;
    }

    .booking .plate {
        top: 90%;
    }

    .booking .form-control {
        margin: 10px auto;
    }

    .booking .active {
        top: -15px;
        font-size: 20px;
    }

    .booking input {
        width: 70%;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .booking form {
        padding-top: 50px;
    }

    .booking p {
        line-height: 2px;
        padding-top: 25%;
        padding-left: 160px;
    }

    .booking h1 {
        font-size: 35px;
        padding-left: 100px;
    }

    .booking label {
        top: 10px;
        left: 10px;
    }

    .booking .bottle {
        top: 0;
        left: 80%;
    }

    .booking .plate {
        top: 80%;
        right: -250px;
    }

    .booking .form-control {
        margin: 10px auto;
    }

    .booking .active {
        top: -15px;
        font-size: 20px;
    }

    .booking input {
        width: 100%;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .booking form {
        padding-top: 0px;
    }

    .booking p {
        line-height: 2px;
        padding-top: 25%;
        padding-left: 160px;
    }

    .booking h1 {
        font-size: 40px;
        padding-left: 100px;
    }

    .booking label {
        top: 10px;
        left: 10px;
    }

    .booking .bottle {
        top: 0;
        left: 80%;
    }

    .booking .plate {
        top: 80%;
        right: -250px;
    }

    .booking .form-control {
        margin: 10px auto;
    }

    .booking .active {
        top: -15px;
        font-size: 20px;
    }

    .booking input {
        width: 100%;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .booking {
        position: relative;
    }

    .booking form {
        padding-top: 40px;
    }


    .booking .burger {
        position: absolute;
        top: 0;
        left: -75px;
    }

    .booking .plate {
        position: absolute;
        right: 0;
        top: 55%;
        right: -20%;
    }

    .booking p {
        font-size: 29px;
        letter-spacing: 2px;
        line-height: 46px;
        color: #3d2514;
        font-family: bebas;
        text-align: center;
        padding-top: 100px;
    }

    .booking h1 {
        text-align: center;
        font-size: 50px;
        letter-spacing: 3px;
        line-height: 46px;
        color: #3d2514;
        font-weight: 400;
        font-family: alfaslab;
        text-transform: uppercase;
        padding-bottom: 50px;
    }

    .booking .form-control {
        width: 340px;
        height: 55px;
        border-radius: 5px;
        background-color: rgba(235, 174, 76, 0);
        border: 1px solid #bebebe;

    }


    .booking label {
        position: absolute;
        top: 0;
        font-size: 23px;
        margin: 10px;
        padding: 0 10px;
        -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
        transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
        font-family: bebas;
        background-color: #fff;
        color: #3d3d3d;

    }


    .booking input {
        width: 100%;
        padding: 20px;
        border: 1px solid #bebebe;
        font-size: 20px;
        color: white;
        color: #3d3d3d;
        border-radius: 5px;
        background-color: #fff;

    }

    .booking .active {
        top: -25px;
        font-size: 20px;
    }

    .booking .form-control {
        margin-bottom: 20px;

    }

    .booking .form-control:focus {
        border: 1px solid #bebebe;
        outline: 0;
        box-shadow: none;
    }

    .booking .bottle {
        position: absolute;
        top: 45%;
        left: 0;
    }


}

/* Start Contact-Us Section */
.contact-us {
    background: url('../imgs/contact-us-bg.png') no-repeat left / cover;
    height: 100vh;
    position: relative;
    margin-top: 10rem;
}

.logo-wrapper {
    top: 200px;
    left: 50px;
    position: absolute;
}

.logo-wrapper img {
    width: 50%;
    height: auto;
}

.fa-map-marker-alt,
.fa-envelope {
    font-size: 30px;
    padding-bottom: 20px;
}

.logo-wrapper .lead {
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: montserrat;
    height: 106px;
    font-size: 17px;
    width: 520px;
    padding-top: 50px;
}

.location-wrapper {
    top: 300px;
    left: 280px;
    position: absolute;

}

.location-wrapper .location-title {
    font-size: 21px;
    color: #ffffff;
    font-family: bebas;
    vertical-align: middle;
    padding-left: 20px;
    font-weight: 100;
}

.copyright-title {
    position: absolute;
    top: 580px;
    color: #fff;
    left: 50px;
}

.social-wrapper {
    position: absolute;
    top: 570px;
    left: 280px;
}

.social-media-link--facebook:before {
    background-image: linear-gradient(45deg, #ffffff 0%, #ffffff 49%, #5F7AAE 50%);
}

.social-media-link--twitter:before {
    background-image: linear-gradient(45deg, #ffffff 0%, #ffffff 49%, #5AC2F0 50%);
}

.social-media-link--instagram:before {
    background-image: linear-gradient(45deg, #ffffff 0%, #ffffff 49%, #e1306c 50%);
}

.social-media-link--linkedin:before {
    background-image: linear-gradient(45deg, #ffffff 0%, #ffffff 49%, #4390B5 50%);
}

.social-media-link--whatsapp:before {
    background-image: linear-gradient(45deg, #ffffff 0%, #ffffff 49%, #25d366 50%);
}

.social-media-links {
    display: flex;
    width: 100%;
    justify-content: center;
}

.social-media-link {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    color: #3d3d3d;
    font-size: 15px;
    position: relative;
    transition: transform .50s ease-in-out;
}

.social-media-link>i {
    z-index: 1;
}

.social-media-link:before {
    width: 30px;
    height: 30px;
    border-radius: 70px;
    content: "";
    position: absolute;
    background-size: 300%;
    background-position: 0% 0%;
    transition: background-position 0.55s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

.social-media-link:hover,
.social-media-link:active,
.social-media-link:focus {
    transform: translateY(-5px);
    padding-bottom: 10px;
    color: #fff;
}

.social-media-link:hover:before,
.social-media-link:active:before,
.social-media-link:focus:before {
    background-position: top right;
}

.social-media-link+.social-media-link {
    margin-left: 4px;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .logo-wrapper .lead {
        line-height: 25px;
        color: #ffffff;
        font-weight: 400;
        font-family: montserrat;
        height: auto;
        font-size: 11px;
        width: 100%;
        padding-top: 19px;
    }

    .fa-map-marker-alt,
    .fa-envelope {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .location-wrapper {
        top: 385px;
        left: 50px;
        position: absolute;
    }

    .copyright-title {
        position: absolute;
        top: 475px;
        color: #fff;
        left: 20px;
    }

    .social-wrapper {
        position: absolute;
        top: 505px;
        left: 10px;
    }



}

/* // Medium devices (tablets, 768px and up) */
@media  (min-width: 768px) and (max-width: 991.98px) {


    .logo-wrapper {
        top: 333px;
        left: 50px;
        position: absolute;
    }

    .location-wrapper {
        top: 560px;
        left: -326px;
        position: absolute;
    }

    .copyright-title {
        position: absolute;
        top: 808px;
        color: #fff;
        left: 50px;
    }

    .social-wrapper {
        position: absolute;
        top: 794px;
        left: 183px;
    }


}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .logo-wrapper {
        top: 490px;
        left: 50px;
        position: absolute;
    }

    .location-wrapper {
        top: 560px;
        left: 175px;
        position: absolute;
    }

    .copyright-title {
        position: absolute;
        top: 808px;
        color: #fff;
        left: 50px;
    }

    .social-wrapper {
        position: absolute;
        top: 794px;
        left: 183px;
    }


}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .logo-wrapper {
        top: 490px;
        left: 50px;
        position: absolute;
    }

    .location-wrapper {
        top: 560px;
        left: 175px;
        position: absolute;
    }

    .copyright-title {
        position: absolute;
        top: 808px;
        color: #fff;
        left: 50px;
    }

    .social-wrapper {
        position: absolute;
        top: 794px;
        left: 183px;
    }


}


/* End Contact-Us Section */